<div
	class="title"
	[ngStyle]="{ 'background-color': isVerMascota && '#6d42ba' }">
	<h1>{{ titulo }} Mascota</h1>
</div>
@if (loading) {
<mat-progress-bar
	mode="indeterminate"
	color="accent"></mat-progress-bar>
}
<div class="container">
	<mat-card>
		<mat-card-header>
			<mat-card-subtitle> Datos de la mascota </mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<form
				[formGroup]="form"
				(ngSubmit)="agregarEditarMascota()">
				<mat-grid-list
					cols="2"
					rowHeight="5rem">
					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Nombre</mat-label>
							<input
								formControlName="nombre"
								autocomplete="off"
								matInput />
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile>
						<mat-form-field appearance="outline">
							<mat-label>Especie</mat-label>
							<input
								formControlName="especie"
								autocomplete="off"
								matInput />
						</mat-form-field>
					</mat-grid-tile>
					<mat-grid-tile
						><mat-form-field appearance="outline">
							<mat-label>Color</mat-label>
							<input
								formControlName="color"
								autocomplete="off"
								matInput /> </mat-form-field
					></mat-grid-tile>
					<mat-grid-tile
						><mat-form-field appearance="outline">
							<mat-label>Raza</mat-label>
							<input
								formControlName="raza"
								autocomplete="off"
								matInput /> </mat-form-field
					></mat-grid-tile>
					<mat-grid-tile
						><mat-form-field appearance="outline">
							<mat-label>Edad</mat-label>
							<input
								formControlName="edad"
								autocomplete="off"
								matInput /> </mat-form-field
					></mat-grid-tile>

					<mat-grid-tile
						><mat-form-field appearance="outline">
							<mat-label>Peso</mat-label>
							<input
								formControlName="peso"
								autocomplete="off"
								matInput /> </mat-form-field
					></mat-grid-tile>

					
					<mat-grid-tile
						class="container-btn"
						[colspan]="2">
						<button
							mat-raised-button
							routerLink="/mascotas"
							color="basic"
							class="btn-agregar">
							Volver
						</button>
						<button
							mat-raised-button
							[disabled]="form.invalid"
							type="submit"
							color="primary"
							class="btn-agregar">
							Guardar
						</button>
					</mat-grid-tile>
				</mat-grid-list>
			</form>
		</mat-card-content>
	</mat-card>
</div>
