/* agregar-editar-vacuna.component.css */

mat-card {
  width: 100%;
  margin-top: 3rem;
}

mat-card-content {
  margin: 10px 0;
}


mat-grid-tile {
  padding: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

mat-form-field {
  width: 100%;
  margin-right: 20px;
}

.dosis-title {
  padding: 20px 0 0 0 !important;
}
.dose-number {
  font-weight: semibold;
  margin-right: 10px;
  color: rgb(65, 64, 64);
}

.btn {
  margin-right: 10px;
}


