.card {
	margin-top: 2rem;
	display: grid;
	gap: 10px; /* Espacio entre las columnas y filas */
	grid-template-columns: 1fr; /* Una columna para el título y el contenido */
	grid-template-rows: auto auto auto; /* Tres filas */
  padding: 20px;
}

.card-title {
	font-size: 1.8rem;
	grid-column: 1 / -1; /* Ocupar todas las columnas disponibles */
}

.card-content {
	display: grid;
	grid-template-columns: repeat(2, 150px); /* Dos columnas para el contenido */
	grid-gap: 10px;
  margin-top: 10px;
}

.card-subtitles {
	font-weight: 500;
}

.mat-card-actions {
	grid-column: 1 / -1; /* Ocupar todas las columnas disponibles */
	text-align: center; /* Centrar el botón */
}
