<div
	class="title"
	[ngStyle]="{ 'background-color': isVerMascota && '#6d42ba' }">
	<h1>Mascota</h1>
</div>
@if (loading) {
<mat-progress-bar
	mode="indeterminate"
	color="accent"></mat-progress-bar>
} @if (mascota$ | async; as mascota; ) {
<!--  La variable mascota en as mascota contendrá el valor emitido por el Observable cuando esté disponible. -->
<div class="container">
	<mat-card class="card">
		<mat-card-title class="card-title">{{ mascota.nombre }}</mat-card-title>
		<mat-card-content class="card-content">
			<p><span class="card-subtitles">Color: </span> {{ mascota.color }}</p>
			<p><span class="card-subtitles">Raza: </span> {{ mascota.raza }}</p>
			<p><span class="card-subtitles">Edad: </span> {{ mascota.edad }}</p>
			<p><span class="card-subtitles">Peso: </span>{{ mascota.peso }}kg</p>
		</mat-card-content>
		<mat-card-actions
			><button
				mat-raised-button
				routerLink="/animales">
				Volver
			</button></mat-card-actions
		>
	</mat-card>
</div>
}
