.grid-container {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 30px;
}

.card {
	padding: 20px;
}

.card-title {
	font-size: 2rem;
	grid-column: 1 / -1; /* Ocupar todas las columnas disponibles */
	text-align: center;
}

.card-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 1.4rem;
	align-items: center;
}

.info-dueño p {
	padding: 5px;
}

.image-column,
.info-column {
	justify-self: center; /* Alinea la columna de la imagen a la izquierda */
}

.image-column img {
	max-width: 200px; /* Establece el ancho máximo de la imagen al 100% del contenedor */
	height: auto; /* Permite que la altura se ajuste proporcionalmente al ancho */
}

.info-column p {
	padding: 5px 0; /* Alinea la columna de la información a la derecha */
	font-size: 1rem;
}
.card-subtitles {
	font-weight: 500;
	font-size: 1.2rem;
}

.mat-card-actions {
	grid-column: 1 / -1; /* Ocupar todas las columnas disponibles */
	text-align: center;
}

.chip-container {
	display: flex;
	justify-content: center;
}

.toggle-container {
	display: flex;
	justify-content: end;
}

.toggle {
	margin: 10px 15px 0 0;
}

.custom-chip {
	width: 80%;
	padding: 8px 16px;
	background-color: #e94033; /* Color warn */
	color: #ffffff; /* Color del texto */
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-top: 10px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
}

.custom-chip:active {
	background-color: #a61f1f; /* Color de fondo al hacer clic */
	color: #ffffff; /* Color del texto al hacer clic */
}

.list-mascota {
	margin: 40px 0px;
}

table {
	width: 100%;
}

.mat-mdc-form-field {
	font-size: 14px;
	width: 100%;
}

td,
th {
	width: 25%;
	text-align: center;
}

/* Aplica el efecto hover a todas las filas excepto la primera */

tr.data-row:not(.expanded-row):hover td {
	background: whitesmoke;
	cursor: pointer;
	color: black; /* Cambia al color de texto deseado */
}

/* Aplica el efecto active a todas las filas excepto la primera */
tr.data-row:not(.expanded-row):active td {
	background: #efefef;
	color: black; /* Cambia al color de texto deseado */
}

button {
	border: 0;
	background: none;
	cursor: pointer;
}

button[disabled] {
	opacity: 0.6; /* Cambia la opacidad para indicar que está deshabilitado */
	cursor: not-allowed; /* Cambia el cursor para indicar que no se puede hacer clic */
	/* Agrega otros estilos de acuerdo a tus necesidades */
	background: none;
}

.add {
	color: #1470c6;
	transition: all 200ms; /* Modificado para agrupar la propiedad transition */
	margin-right: 0.5rem;
	transform: scale(1.2);
}

/* Estilos cuando el botón no está deshabilitado y se hace hover */
.add:not(:disabled):hover {
	color: #0053a0;
	transform: scale(1.4);
}

.delete {
	color: #4f5b66;
	transition: all;
	transition-duration: 200ms;
}

.delete:hover {
	color: #f44201;
	transform: scale(1.2);
}

.edit {
	color: #f8cf05;
	margin-right: 0.5rem;
	transition: all;
	transition-duration: 200ms;
}

.edit:hover {
	color: #fca635;
	transform: scale(1.2);
}

.btn-primary {
	font-size: 0.8rem;
	line-height: 1rem;
}

.btn-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-container {
	text-align: center;
}

tr.expanded-row:hover {
	background: initial;
	color: initial;
}

tr.expanded-row {
	height: 0;
}

tr.data-row td {
	border-bottom-width: 0;
}

.expanded-detail {
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    padding: 0 5vw; /* Utilizamos porcentaje relativo al ancho de la pantalla */
}

.dosis-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw; /* Utilizamos un valor relativo */
    margin-top: 2vw; /* Utilizamos porcentaje relativo al ancho de la pantalla */
}

.dosis-info {
    font-size: 0.8rem; /* Utilizamos porcentaje relativo al ancho de la pantalla */
    display: flex;
    gap: 11vw; /* Utilizamos un valor relativo */
}

.info-details {
    display: flex;
    gap: 3vw; /* Utilizamos un valor relativo */
}

.info-label {
    font-weight: bold;
    color: #333;
}

.info-value {
    font-style: italic;
    color: #555;
}

.dosis-icon {
    width: 5vw; /* Utilizamos porcentaje relativo al ancho de la pantalla */
    cursor: pointer;
}

.completa {
    color: darkgreen;
}

.incompleta {
    color: crimson;
}
